{% extends "admin.layout.html.twig" %}

{% block body %}
    <form method="POST" action="" class="card p-4" style="max-width: 500px;" enctype="multipart/form-data">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Modèle</span>
            <input type="text" name="modele" value="{{ voiture.model }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <select name="marque">
                <option value="null">---</option>
                {% for marque in marques %}
                    {% if marque.id is same as(voiture.marque.id)  %}
                        <option value="{{ marque.id }}" selected>{{ marque.name }}</option>
                        {% else %}
                            <option value="{{ marque.id }}">{{ marque.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Couleur</span>
            <input type="color" name="couleur" value="{{ voiture.couleur }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <input type="submit" value="Modifier" />
    </form>
{% endblock %}